In [45]:
import pandas as pd
import re

In [46]:
df = pd.read_csv(r"Lottery_Sales_Stats.csv", encoding='latin-1')
df

          Characteristic Sales in million U.S. dollars
0               New York                     10,355.48
1                Florida                      9,324.63
2             California                      8,865.75
3                  Texas                      8,296.89
4         Massachusetts*                      5,853.59
5                   Ohio                      5,628.99
6                Georgia                      5,553.12
7           Pennsylvania                      5,121.29
8               Michigan                      4,896.85
9               Maryland                      4,684.19
10        North Carolina                       3,887.1
11            New Jersey                      3,634.15
12              Illinois                      3,396.28
13              Virginia                       3,002.4
14        South Carolina                      2,253.56
15             Tennessee                      2,027.34
16              Missouri                      1,779.95
17               Indiana                      1,702.86
18                Oregon                      1,675.35
19              Kentucky                      1,480.43
20           Connecticut                      1,462.81
21         West Virginia                      1,382.74
22               Arizona                      1,368.37
23         Rhode Island*                        944.53
24            Washington                        907.69
25             Wisconsin                        887.82
26              Colorado                        826.88
27             Minnesota                        740.16
28              Delaware                           736
29             Louisiana                        582.93
30              Arkansas                        579.56
31         New Hampshire                        556.42
32           Mississippi                        432.86
33                  Iowa                        432.66
34          South Dakota                         400.7
35                 Maine                         385.8
36                 Idaho                        376.31
37              Oklahoma                        350.34
38                Kansas                        312.99
39  District of Columbia                        207.28
40              Nebraska                        202.27
41               Vermont                        151.48
42            New Mexico                        136.87
43               Montana                         77.78
44          North Dakota                         29.18
45               Wyoming                         27.41

In [47]:
#Switching Web Scrapers name from the stats site
df = df.rename(columns={'Characteristic': 'States'})

In [51]:
#Couldn't convert to float astype because of commas 
df['Sales in million U.S. dollars'] = df['Sales in million U.S. dollars'].str.replace(',', '')

In [55]:
#Converted to float
df['Sales in million U.S. dollars'] = df['Sales in million U.S. dollars'].astype(float)

In [58]:
#Because only 80 cents on every 2 dollar ticket sold is given to states.  This is ACTUALLY how much is sold each
#Year.  IN MILLIONS!!
actual_amount_spent = df['Sales in million U.S. dollars'] / .4
actual_amount_spent

0     25888.700
1     23311.575
2     22164.375
3     20742.225
4     14633.975
5     14072.475
6     13882.800
7     12803.225
8     12242.125
9     11710.475
10     9717.750
11     9085.375
12     8490.700
13     7506.000
14     5633.900
15     5068.350
16     4449.875
17     4257.150
18     4188.375
19     3701.075
20     3657.025
21     3456.850
22     3420.925
23     2361.325
24     2269.225
25     2219.550
26     2067.200
27     1850.400
28     1840.000
29     1457.325
30     1448.900
31     1391.050
32     1082.150
33     1081.650
34     1001.750
35      964.500
36      940.775
37      875.850
38      782.475
39      518.200
40      505.675
41      378.700
42      342.175
43      194.450
44       72.950
45       68.525
Name: Sales in million U.S. dollars, dtype: float64

In [60]:
# Amount earned for Multi-State Lottery Association.  IN MILLIONS!
MSLA_Profit = actual_amount_spent * .6
MSLA_Profit

0     15533.220
1     13986.945
2     13298.625
3     12445.335
4      8780.385
5      8443.485
6      8329.680
7      7681.935
8      7345.275
9      7026.285
10     5830.650
11     5451.225
12     5094.420
13     4503.600
14     3380.340
15     3041.010
16     2669.925
17     2554.290
18     2513.025
19     2220.645
20     2194.215
21     2074.110
22     2052.555
23     1416.795
24     1361.535
25     1331.730
26     1240.320
27     1110.240
28     1104.000
29      874.395
30      869.340
31      834.630
32      649.290
33      648.990
34      601.050
35      578.700
36      564.465
37      525.510
38      469.485
39      310.920
40      303.405
41      227.220
42      205.305
43      116.670
44       43.770
45       41.115
Name: Sales in million U.S. dollars, dtype: float64