In [112]:
import sqlite3
import pandas as pd
import re

In [67]:
conn = sqlite3.connect('Powerball_SQLDB.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM Joined_Table')
conn.commit()
results = cursor.fetchall()
for row in results:
    data = []
    for row in results:
        data.append(row[:47])
    df = pd.DataFrame(data)

conn.close()

In [68]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,181,2015-11-04,$144 Million,Avondale Revocable Trust,Tennessee,8,2015-11-04,2,12,17,20,65,17,4.0
1,182,2016-01-13,$1.58 Billion,Marvin and Mae Acosta,California,28,2016-01-13,4,8,19,27,34,10,2.0
2,185,2016-03-02,$291.4 Million,James Stocklas,Florida,42,2016-03-02,12,13,44,52,62,6,2.0
3,186,2016-05-07,$284 Million,The Smith Family Lottery Pool,New Jersey,61,2016-05-07,5,25,26,44,66,9,2.0
4,187,2016-07-30,$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire,85,2016-07-30,11,17,21,23,32,5,2.0
5,188,2016-09-17,$246 Million,William and Heather ten Broeke,Georgia,99,2016-09-17,9,19,51,55,62,14,4.0
6,189,2016-11-26,$420.9 Million,Tennessee 20,Tennessee,119,2016-11-26,17,19,21,37,44,16,2.0
7,190,2016-12-17,$121.6 Million,Not Disclosed,DE,125,2016-12-17,1,8,16,40,48,10,2.0
8,191,2017-02-22,$435.3 Million,"Bohemian Financial, LLC",Indiana,144,2017-02-22,10,13,28,52,61,2,2.0
9,192,2017-03-22,$156 Million,Mai Xiong,Wisconsin,152,2017-03-22,2,9,27,29,42,9,2.0
10,193,2017-04-01,$60 Million,Not Disclosed,Arizona,155,2017-04-01,9,32,36,44,65,1,3.0
11,195,2017-08-23,$758.7 Million,Mavis Wanczyk,Massachusetts,195,2017-08-23,6,7,16,23,26,4,4.0
12,196,2017-09-16,$133.2 Million,Judy F.,Colorado,202,2017-09-16,17,18,24,25,31,24,2.0
13,197,2017-10-25,$191.1 Million,292 Family Partnership,Louisiana,213,2017-10-25,18,22,29,54,57,8,3.0
14,198,2018-01-06,$559.7 Million,Good Karma Family 2018 Nominee Trust,New Hampshire,234,2018-01-06,12,61,30,29,33,26,3.0
15,199,2018-03-17,$456.7 Million,Emerald Legacy Trust,Pennsylvania,254,2018-03-17,22,57,59,60,66,7,2.0
16,200,2018-03-24,$55.9 Million,The Moose Family Trust,LA,256,2018-03-24,10,33,45,53,56,24,3.0
17,201,2018-05-19,$315.3 Million,Tayeb Souami,New Jersey,272,2018-05-19,3,6,9,17,56,25,3.0
18,202,2018-06-20,$150.4 Million,Steven Nickell,Oregon,281,2018-06-20,4,14,23,27,56,13,2.0
19,203,2018-08-11,$245.6 Million,The Sea & Sand Trust (Nandlall Mangal),New York,296,2018-08-11,5,43,56,62,68,24,2.0
20,204,2018-10-27,$687.8 Million,Robert Bailey,New York,318,2018-10-27,8,12,13,19,27,4,3.0
21,206,2018-12-26,$298.3 Million,David Johnson,New York,335,2018-12-26,5,25,38,52,67,24,2.0
22,207,2019-03-27,$768.41 Million,Manuel Franco,Wisconsin,361,2019-03-27,16,20,37,44,62,12,3.0
23,208,2019-06-01,$344.6 Million,Charles W. Jackson Jr.,North Carolina,380,2019-06-01,6,15,34,45,52,8,2.0
24,209,2019-07-13,$198 Million,Freedom Trust,Tennessee,392,2019-07-13,13,23,32,35,68,21,3.0
25,210,2019-08-17,$148 Million,Not Claimed yet,New York,402,2019-08-17,18,21,24,30,60,20,3.0
26,211,2019-09-04,$80 Million,David Yax,New York,407,2019-09-04,4,8,30,52,59,2,10.0
27,212,2019-09-21,$80 Million,Phillip Chippewa,Michigan,412,2019-09-21,1,9,22,36,68,22,2.0
28,213,2019-11-02,$150 Million,Bill Lawrence,California,424,2019-11-02,3,23,32,37,58,22,2.0
29,214,2020-01-29,$396.9 Million,Unknown,Florida,449,2020-01-29,9,12,15,31,60,2,2.0
30,215,2020-02-15,$70 Million,Unknown,Michigan,454,2020-02-15,16,32,35,36,46,3,3.0
31,216,2020-04-08,$190 Million,Unknown,New Jersey,469,2020-04-08,2,37,39,48,54,5,3.0
32,217,2020-06-03,$136 Million,Unknown,West Virginia,485,2020-06-03,1,3,26,41,64,17,2.0
33,218,2020-06-10,$22 Million,Thomas Cook and Joseph Feeney,Wisconsin,487,2020-06-10,10,33,41,52,54,18,5.0
34,219,2020-08-12,$168 Million,William Kruger,Florida,505,2020-08-12,2,6,18,36,37,21,2.0
35,220,2020-09-16,$94 Million,"September 2020, LLC",New York,515,2020-09-16,10,17,31,51,53,1,2.0
36,221,2021-01-20,$731 Million,The Power Pack,Maryland,551,2021-01-20,40,53,60,68,69,22,3.0
37,222,2021-01-23,$23 Million,Unknown,New Jersey,552,2021-01-23,5,8,17,27,28,14,3.0
38,223,2021-01-30,$33 Million,Unknown,New Jersey,554,2021-01-30,1,2,7,52,61,4,3.0
39,224,2021-03-27,$235 Million,Thomas Yi,Florida,570,2021-03-27,6,14,38,39,65,6,3.0
40,225,2021-06-05,$285 Million,The Love You More Trust,Florida,589,2021-06-05,44,52,54,64,69,26,3.0
41,226,2021-10-04,$700 Million,Scott Godfrey,California,630,2021-10-04,12,22,54,66,69,15,2.0
42,227,2022-01-05,$632 Million,Tammy and Cliff Webster,Wisconsin,670,2022-01-05,6,14,25,33,46,17,2.0
43,229,2022-02-14,$185 Million,Unknown,Connecticut,687,2022-02-14,16,25,27,49,55,17,3.0
44,230,2022-04-27,$473 Million,Unknown,Arizona,716,2022-04-27,11,36,61,62,68,4,2.0
45,231,2022-06-29,$366 Million,Unknown,Vermont,743,2022-06-29,8,40,49,58,63,14,3.0
46,232,2022-08-03,$206 Million,Unknown,Pennsylvania,758,2022-08-03,9,21,56,57,66,11,2.0

In [69]:
df.columns = ['Index', 'Draw_date', 'Jackpot_Prize', 'Winners', 'State', 'Index_2', "Draw_Date2", "WB1", "WB2", 'WB3', 'WB4', 'WB5', 'PB', 'Multiplier']
df

,Index,Draw_date,Jackpot_Prize,Winners,State,Index_2,Draw_Date2,WB1,WB2,WB3,WB4,WB5,PB,Multiplier
0,181,2015-11-04,$144 Million,Avondale Revocable Trust,Tennessee,8,2015-11-04,2,12,17,20,65,17,4.0
1,182,2016-01-13,$1.58 Billion,Marvin and Mae Acosta,California,28,2016-01-13,4,8,19,27,34,10,2.0
2,185,2016-03-02,$291.4 Million,James Stocklas,Florida,42,2016-03-02,12,13,44,52,62,6,2.0
3,186,2016-05-07,$284 Million,The Smith Family Lottery Pool,New Jersey,61,2016-05-07,5,25,26,44,66,9,2.0
4,187,2016-07-30,$487 Million,Robin Egg 2016 Nominee Trust,New Hampshire,85,2016-07-30,11,17,21,23,32,5,2.0
5,188,2016-09-17,$246 Million,William and Heather ten Broeke,Georgia,99,2016-09-17,9,19,51,55,62,14,4.0
6,189,2016-11-26,$420.9 Million,Tennessee 20,Tennessee,119,2016-11-26,17,19,21,37,44,16,2.0
7,190,2016-12-17,$121.6 Million,Not Disclosed,DE,125,2016-12-17,1,8,16,40,48,10,2.0
8,191,2017-02-22,$435.3 Million,"Bohemian Financial, LLC",Indiana,144,2017-02-22,10,13,28,52,61,2,2.0
9,192,2017-03-22,$156 Million,Mai Xiong,Wisconsin,152,2017-03-22,2,9,27,29,42,9,2.0
10,193,2017-04-01,$60 Million,Not Disclosed,Arizona,155,2017-04-01,9,32,36,44,65,1,3.0
11,195,2017-08-23,$758.7 Million,Mavis Wanczyk,Massachusetts,195,2017-08-23,6,7,16,23,26,4,4.0
12,196,2017-09-16,$133.2 Million,Judy F.,Colorado,202,2017-09-16,17,18,24,25,31,24,2.0
13,197,2017-10-25,$191.1 Million,292 Family Partnership,Louisiana,213,2017-10-25,18,22,29,54,57,8,3.0
14,198,2018-01-06,$559.7 Million,Good Karma Family 2018 Nominee Trust,New Hampshire,234,2018-01-06,12,61,30,29,33,26,3.0
15,199,2018-03-17,$456.7 Million,Emerald Legacy Trust,Pennsylvania,254,2018-03-17,22,57,59,60,66,7,2.0
16,200,2018-03-24,$55.9 Million,The Moose Family Trust,LA,256,2018-03-24,10,33,45,53,56,24,3.0
17,201,2018-05-19,$315.3 Million,Tayeb Souami,New Jersey,272,2018-05-19,3,6,9,17,56,25,3.0
18,202,2018-06-20,$150.4 Million,Steven Nickell,Oregon,281,2018-06-20,4,14,23,27,56,13,2.0
19,203,2018-08-11,$245.6 Million,The Sea & Sand Trust (Nandlall Mangal),New York,296,2018-08-11,5,43,56,62,68,24,2.0
20,204,2018-10-27,$687.8 Million,Robert Bailey,New York,318,2018-10-27,8,12,13,19,27,4,3.0
21,206,2018-12-26,$298.3 Million,David Johnson,New York,335,2018-12-26,5,25,38,52,67,24,2.0
22,207,2019-03-27,$768.41 Million,Manuel Franco,Wisconsin,361,2019-03-27,16,20,37,44,62,12,3.0
23,208,2019-06-01,$344.6 Million,Charles W. Jackson Jr.,North Carolina,380,2019-06-01,6,15,34,45,52,8,2.0
24,209,2019-07-13,$198 Million,Freedom Trust,Tennessee,392,2019-07-13,13,23,32,35,68,21,3.0
25,210,2019-08-17,$148 Million,Not Claimed yet,New York,402,2019-08-17,18,21,24,30,60,20,3.0
26,211,2019-09-04,$80 Million,David Yax,New York,407,2019-09-04,4,8,30,52,59,2,10.0
27,212,2019-09-21,$80 Million,Phillip Chippewa,Michigan,412,2019-09-21,1,9,22,36,68,22,2.0
28,213,2019-11-02,$150 Million,Bill Lawrence,California,424,2019-11-02,3,23,32,37,58,22,2.0
29,214,2020-01-29,$396.9 Million,Unknown,Florida,449,2020-01-29,9,12,15,31,60,2,2.0
30,215,2020-02-15,$70 Million,Unknown,Michigan,454,2020-02-15,16,32,35,36,46,3,3.0
31,216,2020-04-08,$190 Million,Unknown,New Jersey,469,2020-04-08,2,37,39,48,54,5,3.0
32,217,2020-06-03,$136 Million,Unknown,West Virginia,485,2020-06-03,1,3,26,41,64,17,2.0
33,218,2020-06-10,$22 Million,Thomas Cook and Joseph Feeney,Wisconsin,487,2020-06-10,10,33,41,52,54,18,5.0
34,219,2020-08-12,$168 Million,William Kruger,Florida,505,2020-08-12,2,6,18,36,37,21,2.0
35,220,2020-09-16,$94 Million,"September 2020, LLC",New York,515,2020-09-16,10,17,31,51,53,1,2.0
36,221,2021-01-20,$731 Million,The Power Pack,Maryland,551,2021-01-20,40,53,60,68,69,22,3.0
37,222,2021-01-23,$23 Million,Unknown,New Jersey,552,2021-01-23,5,8,17,27,28,14,3.0
38,223,2021-01-30,$33 Million,Unknown,New Jersey,554,2021-01-30,1,2,7,52,61,4,3.0
39,224,2021-03-27,$235 Million,Thomas Yi,Florida,570,2021-03-27,6,14,38,39,65,6,3.0
40,225,2021-06-05,$285 Million,The Love You More Trust,Florida,589,2021-06-05,44,52,54,64,69,26,3.0
41,226,2021-10-04,$700 Million,Scott Godfrey,California,630,2021-10-04,12,22,54,66,69,15,2.0
42,227,2022-01-05,$632 Million,Tammy and Cliff Webster,Wisconsin,670,2022-01-05,6,14,25,33,46,17,2.0
43,229,2022-02-14,$185 Million,Unknown,Connecticut,687,2022-02-14,16,25,27,49,55,17,3.0
44,230,2022-04-27,$473 Million,Unknown,Arizona,716,2022-04-27,11,36,61,62,68,4,2.0
45,231,2022-06-29,$366 Million,Unknown,Vermont,743,2022-06-29,8,40,49,58,63,14,3.0
46,232,2022-08-03,$206 Million,Unknown,Pennsylvania,758,2022-08-03,9,21,56,57,66,11,2.0

## I dont want to drop these one by one, but this DF is weird

In [73]:
df = df.drop('Index', axis=1)

In [77]:
df = df.drop('Index_2', axis=1)

In [79]:
df = df.drop('Winners', axis=1)

In [81]:
df = df.drop('Draw_Date2', axis=1)

In [83]:
df = df.drop('Multiplier', axis=1)

In [91]:
df.value_counts()

Draw_date   Jackpot_Prize    State           WB1  WB2  WB3  WB4  WB5  PB
2015-11-04  $144 Million     Tennessee       2    12   17   20   65   17    1
2020-09-16  $94 Million      New York        10   17   31   51   53   1     1
2019-09-04  $80 Million      New York        4    8    30   52   59   2     1
2019-09-21  $80 Million      Michigan        1    9    22   36   68   22    1
2019-11-02  $150 Million     California      3    23   32   37   58   22    1
2020-01-29  $396.9 Million   Florida         9    12   15   31   60   2     1
2020-02-15  $70 Million      Michigan        16   32   35   36   46   3     1
2020-04-08  $190 Million     New Jersey      2    37   39   48   54   5     1
2020-06-03  $136 Million     West Virginia   1    3    26   41   64   17    1
2020-06-10  $22 Million      Wisconsin       10   33   41   52   54   18    1
2020-08-12  $168 Million     Florida         2    6    18   36   37   21    1
2021-01-20  $731 Million     Maryland        40   53   60   68   69   22    1
2019-07-13  $198 Million     Tennessee       13   23   32   35   68   21    1
2021-01-23  $23 Million      New Jersey      5    8    17   27   28   14    1
2021-01-30  $33 Million      New Jersey      1    2    7    52   61   4     1
2021-03-27  $235 Million     Florida         6    14   38   39   65   6     1
2021-06-05  $285 Million     Florida         44   52   54   64   69   26    1
2021-10-04  $700 Million     California      12   22   54   66   69   15    1
2022-01-05  $632 Million     Wisconsin       6    14   25   33   46   17    1
2022-02-14  $185 Million     Connecticut     16   25   27   49   55   17    1
2022-04-27  $473 Million     Arizona         11   36   61   62   68   4     1
2022-06-29  $366 Million     Vermont         8    40   49   58   63   14    1
2019-08-17  $148 Million     New York        18   21   24   30   60   20    1
2019-06-01  $344.6 Million   North Carolina  6    15   34   45   52   8     1
2016-01-13  $1.58 Billion    California      4    8    19   27   34   10    1
2017-08-23  $758.7 Million   Massachusetts   6    7    16   23   26   4     1
2016-03-02  $291.4 Million   Florida         12   13   44   52   62   6     1
2016-05-07  $284 Million     New Jersey      5    25   26   44   66   9     1
2016-07-30  $487 Million     New Hampshire   11   17   21   23   32   5     1
2016-09-17  $246 Million     Georgia         9    19   51   55   62   14    1
2016-11-26  $420.9 Million   Tennessee       17   19   21   37   44   16    1
2016-12-17  $121.6 Million   DE              1    8    16   40   48   10    1
2017-02-22  $435.3 Million   Indiana         10   13   28   52   61   2     1
2017-03-22  $156 Million     Wisconsin       2    9    27   29   42   9     1
2017-04-01  $60 Million      Arizona         9    32   36   44   65   1     1
2017-09-16  $133.2 Million   Colorado        17   18   24   25   31   24    1
2019-03-27  $768.41 Million  Wisconsin       16   20   37   44   62   12    1
2017-10-25  $191.1 Million   Louisiana       18   22   29   54   57   8     1
2018-01-06  $559.7 Million   New Hampshire   12   61   30   29   33   26    1
2018-03-17  $456.7 Million   Pennsylvania    22   57   59   60   66   7     1
2018-03-24  $55.9 Million    LA              10   33   45   53   56   24    1
2018-05-19  $315.3 Million   New Jersey      3    6    9    17   56   25    1
2018-06-20  $150.4 Million   Oregon          4    14   23   27   56   13    1
2018-08-11  $245.6 Million   New York        5    43   56   62   68   24    1
2018-10-27  $687.8 Million   New York        8    12   13   19   27   4     1
2018-12-26  $298.3 Million   New York        5    25   38   52   67   24    1
2022-08-03  $206 Million     Pennsylvania    9    21   56   57   66   11    1
Name: count, dtype: int64

In [85]:
merged = pd.concat([df['WB1'], df['WB2'], df['WB3'], df['WB4'], df['WB5']])
merged.mode()

0    52
dtype: object

In [88]:
merged.value_counts()

52    8
9     7
17    7
12    6
8     6
     ..
7     2
42    1
67    1
43    1
63    1
Name: count, Length: 67, dtype: int64

In [90]:
numbers_frequency = df['PB'].value_counts()
top_5_numbers_frequency = numbers_frequency.head(5)
print(top_5_numbers_frequency)

PB
17    4
4     4
24    4
22    3
14    3
Name: count, dtype: int64

In [93]:
numbers_frequency = df['State'].value_counts()
top_5_numbers_frequency = numbers_frequency.head(5)
print(top_5_numbers_frequency)

State
New York      6
Florida       5
New Jersey    5
Wisconsin     4
Tennessee     3
Name: count, dtype: int64

In [115]:
def convert_to_numeric(x):
    return int(re.findall(r'\d+', x)[0])

money = df['Jackpot_Prize'].map(convert_to_numeric)
df['Jackpot_Prize'] = money

TypeError: expected string or bytes-like object

In [116]:
df

     Draw_date  Jackpot_Prize           State WB1 WB2 WB3 WB4 WB5  PB
0   2015-11-04            144       Tennessee   2  12  17  20  65  17
1   2016-01-13              1      California   4   8  19  27  34  10
2   2016-03-02            291         Florida  12  13  44  52  62   6
3   2016-05-07            284      New Jersey   5  25  26  44  66   9
4   2016-07-30            487   New Hampshire  11  17  21  23  32   5
5   2016-09-17            246         Georgia   9  19  51  55  62  14
6   2016-11-26            420       Tennessee  17  19  21  37  44  16
7   2016-12-17            121              DE   1   8  16  40  48  10
8   2017-02-22            435         Indiana  10  13  28  52  61   2
9   2017-03-22            156       Wisconsin   2   9  27  29  42   9
10  2017-04-01             60         Arizona   9  32  36  44  65   1
11  2017-08-23            758   Massachusetts   6   7  16  23  26   4
12  2017-09-16            133        Colorado  17  18  24  25  31  24
13  2017-10-25            191       Louisiana  18  22  29  54  57   8
14  2018-01-06            559   New Hampshire  12  61  30  29  33  26
15  2018-03-17            456    Pennsylvania  22  57  59  60  66   7
16  2018-03-24             55              LA  10  33  45  53  56  24
17  2018-05-19            315      New Jersey   3   6   9  17  56  25
18  2018-06-20            150          Oregon   4  14  23  27  56  13
19  2018-08-11            245        New York   5  43  56  62  68  24
20  2018-10-27            687        New York   8  12  13  19  27   4
21  2018-12-26            298        New York   5  25  38  52  67  24
22  2019-03-27            768       Wisconsin  16  20  37  44  62  12
23  2019-06-01            344  North Carolina   6  15  34  45  52   8
24  2019-07-13            198       Tennessee  13  23  32  35  68  21
25  2019-08-17            148        New York  18  21  24  30  60  20
26  2019-09-04             80        New York   4   8  30  52  59   2
27  2019-09-21             80        Michigan   1   9  22  36  68  22
28  2019-11-02            150      California   3  23  32  37  58  22
29  2020-01-29            396         Florida   9  12  15  31  60   2
30  2020-02-15             70        Michigan  16  32  35  36  46   3
31  2020-04-08            190      New Jersey   2  37  39  48  54   5
32  2020-06-03            136   West Virginia   1   3  26  41  64  17
33  2020-06-10             22       Wisconsin  10  33  41  52  54  18
34  2020-08-12            168         Florida   2   6  18  36  37  21
35  2020-09-16             94        New York  10  17  31  51  53   1
36  2021-01-20            731        Maryland  40  53  60  68  69  22
37  2021-01-23             23      New Jersey   5   8  17  27  28  14
38  2021-01-30             33      New Jersey   1   2   7  52  61   4
39  2021-03-27            235         Florida   6  14  38  39  65   6
40  2021-06-05            285         Florida  44  52  54  64  69  26
41  2021-10-04            700      California  12  22  54  66  69  15
42  2022-01-05            632       Wisconsin   6  14  25  33  46  17
43  2022-02-14            185     Connecticut  16  25  27  49  55  17
44  2022-04-27            473         Arizona  11  36  61  62  68   4
45  2022-06-29            366         Vermont   8  40  49  58  63  14
46  2022-08-03            206    Pennsylvania   9  21  56  57  66  11

In [117]:
df = df.rename(columns={'Jackpot_Prize': 'Jackpot_Prize(Millions)'})

In [133]:
df.loc[1, 'Jackpot_Prize(Millions)'] = 1580 #Modified to 1000 from 1, because it's a billion

In [137]:
#The lump sum amount after Taxes of approx. 52%  In Millions
lump_sum = df['Jackpot_Prize(Millions)'] * .52
lump_sum

0      74.88
1     821.60
2     151.32
3     147.68
4     253.24
5     127.92
6     218.40
7      62.92
8     226.20
9      81.12
10     31.20
11    394.16
12     69.16
13     99.32
14    290.68
15    237.12
16     28.60
17    163.80
18     78.00
19    127.40
20    357.24
21    154.96
22    399.36
23    178.88
24    102.96
25     76.96
26     41.60
27     41.60
28     78.00
29    205.92
30     36.40
31     98.80
32     70.72
33     11.44
34     87.36
35     48.88
36    380.12
37     11.96
38     17.16
39    122.20
40    148.20
41    364.00
42    328.64
43     96.20
44    245.96
45    190.32
46    107.12
Name: Jackpot_Prize(Millions), dtype: float64

In [139]:
#Amount paid in Taxes in Millions
lump_sum_tax_amount = df['Jackpot_Prize(Millions)'] * .48
lump_sum_tax_amount

0      69.12
1     758.40
2     139.68
3     136.32
4     233.76
5     118.08
6     201.60
7      58.08
8     208.80
9      74.88
10     28.80
11    363.84
12     63.84
13     91.68
14    268.32
15    218.88
16     26.40
17    151.20
18     72.00
19    117.60
20    329.76
21    143.04
22    368.64
23    165.12
24     95.04
25     71.04
26     38.40
27     38.40
28     72.00
29    190.08
30     33.60
31     91.20
32     65.28
33     10.56
34     80.64
35     45.12
36    350.88
37     11.04
38     15.84
39    112.80
40    136.80
41    336.00
42    303.36
43     88.80
44    227.04
45    175.68
46     98.88
Name: Jackpot_Prize(Millions), dtype: float64

In [145]:
#The average the Winner would recieve each year, over 30 years.  After taxes.  In Millions.
annuity = df['Jackpot_Prize(Millions)'] / 30
annuity = annuity * .63
annuity

0      3.024
1     33.180
2      6.111
3      5.964
4     10.227
5      5.166
6      8.820
7      2.541
8      9.135
9      3.276
10     1.260
11    15.918
12     2.793
13     4.011
14    11.739
15     9.576
16     1.155
17     6.615
18     3.150
19     5.145
20    14.427
21     6.258
22    16.128
23     7.224
24     4.158
25     3.108
26     1.680
27     1.680
28     3.150
29     8.316
30     1.470
31     3.990
32     2.856
33     0.462
34     3.528
35     1.974
36    15.351
37     0.483
38     0.693
39     4.935
40     5.985
41    14.700
42    13.272
43     3.885
44     9.933
45     7.686
46     4.326
Name: Jackpot_Prize(Millions), dtype: float64

In [146]:
# Amount paid every year in Taxes, in Millions
annuity_taxes_paid = df['Jackpot_Prize(Millions)'] / 30
annuity_taxes_paid = annuity_taxes_paid * .37
annuity_taxes_paid

0      1.776000
1     19.486667
2      3.589000
3      3.502667
4      6.006333
5      3.034000
6      5.180000
7      1.492333
8      5.365000
9      1.924000
10     0.740000
11     9.348667
12     1.640333
13     2.355667
14     6.894333
15     5.624000
16     0.678333
17     3.885000
18     1.850000
19     3.021667
20     8.473000
21     3.675333
22     9.472000
23     4.242667
24     2.442000
25     1.825333
26     0.986667
27     0.986667
28     1.850000
29     4.884000
30     0.863333
31     2.343333
32     1.677333
33     0.271333
34     2.072000
35     1.159333
36     9.015667
37     0.283667
38     0.407000
39     2.898333
40     3.515000
41     8.633333
42     7.794667
43     2.281667
44     5.833667
45     4.514000
46     2.540667
Name: Jackpot_Prize(Millions), dtype: float64

In [135]:
df.to_csv('SQLite_Table_DB.csv')